<% provide( :title, "サービス" )%>
  <%= stylesheet_link_tag 'services/index', :media => "all" %>

<main>
  <div class="main-wrapper">
    <div class="search-prefecture">
      <h1>旅行する都道府県を教えてください</h1>
      <%= form_with  method: :get, class: 'search', local: true do |f| %>
        <%= f.text_field :keyword, class: 'keyword', placeholder: ' 都道府県を入力'%>
        <%= f.button :type => 'submit', class: "btn" , name: nil do %>
        <i class='fa fa-search'></i>
        <% end %>
      <% end %>
      <% if params[:keyword] != nil %>
        <%= link_to "募集一覧に戻る", services_path %>
      <% end %>
    </div>
  </div>
  <div id="newest-posts">
      <%= render partial: 'layouts/posts', model: @group %>
      <%= paginate @groups %>
  </div>
</main>