<% provide( :title, "サービス" )%>
  <%= stylesheet_link_tag 'services/index', :media => "all" %>

<main>
  <div class="main-wrapper">
    <div class="search-prefecture">
      <h1>旅行する都道府県を教えてください</h1>
      <%= form_with  method: :get, class: 'search', local: true do |f| %>
        <%= f.text_field :keyword, class: 'keyword', placeholder: ' 都道府県を入力'%>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </div>
  <div class="newest-wrapper">
    <div class="newest-posts">ここに最新の投稿</div>
    <%= render partial: 'layouts/posts', model: @group %>
  </div>
</main>