<% content_for :scss do %>
    <%= stylesheet_link_tag 'sessions/new' %>
<% end %>

<div class="users-header"><a href="/"><img src="/assets/site-logo.png" alt="サイトのアイコン"></a></div>
<div id="login-body">
    <div class="login">
      <div class="explanation">
        <h1>ログイン</h1>
        <p>全ての項目が<span>必須</span>です。</p>
      </div>
      <div class="login-wrapper">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <%= flash[:danger] %>
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email %>

            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: 'form-control', placeholder: "半角英数字6文字以上"%>

            <%= f.submit "ログイン", class: "btn" %>
        <% end %>
      </div>
      <div class="has-account">
        <p><a href="#">新規登録はこちら</a></p>
      </div>
    </div>
    
</div>