<%= form_with model: @group, local: true do |f| %>
<%= render 'shared/error_messages', model: @group %>

<p><%= f.label :date %><br>
<%= f.date_field :date %>
</p>

<p><%= f.label :prefecture %><br>
<%= f.text_field :prefecture %> 
</p>
<p><%= f.label :municipality %><br>
<%= f.text_field :municipality %> 
</p>
<p>
<%= f.label :purpose%><br>
<%= f.text_field :purpose %> 
</p>
<p><%= f.label :content %><br>
<%= f.text_field :content %> 
</p>
<p><%= f.label :number %><br>
<%= f.number_field :number %>
</p>

<p><%= f.submit %> #送信ボタンを生成
</p>

<% end %>