<% provide( :title, "プロフィール編集" ) %>
<%= stylesheet_link_tag 'users/edit', :media => "all" %>

<h1>プロフィール編集</h1>
<div class="edit-wrapper">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', model: @user %>

      <table class="edit-table">
        <tr>
          <th class="edit-th">
            <%= f.label :name %>
          </th>
          <td class="edit-td">
            <%= f.text_field :name %>
          </td>
        </tr>

        <tr>
          <th class="edit-th">
            <%= f.label :email %>
          </th>
          <td class="edit-td">
            <%= f.email_field :email %>
          </td>
        </tr>

        <tr>
          <th class="edit-th">
            <%= f.label :nickname %>
          </th>
          <td class="edit-td">
            <%= f.text_field :nickname %>
          </td>
        </tr>
      </table>

      <p class="edit-btn"><%= f.submit "変更する", class: "btn" %></p>
    <% end %>
  </div>
</div>