<% provide( :title, "新規会員登録" )%>
<% content_for :scss do %>
    <%= stylesheet_link_tag 'users/new' %>
<% end %>
<div class="users-header"><a href="/"><img src="/assets/site-logo.png" alt="サイトのアイコン"></a></div>
<div id="new-body">
    <div class="new">
      <div class="explanation">
        <h1>新規会員登録（無料）</h1>
        <p>全ての項目が<span>必須</span>です。</p>
      </div>
      <div class="form-wrapper">
        <%= form_with(model: @user, local: true, id: 'form') do |f| %>
        <%= render 'shared/error_messages', model: @user %>

            <%= f.text_field :name, class: 'form-control', placeholder: "名前"%>

            <%= f.email_field :email, placeholder: "メールアドレス"%>

            <%= f.text_field :nickname, placeholder: "ニックネーム"%>

            <%= f.password_field :password, class: 'form-control', placeholder: "パスワード"%>

            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード確認"%>

            <%= f.submit "新規登録", class: "btn btn-primary" %>
        <% end %>
      </div>
    <div class="has-account">
        <p><a href="#">既にアカウントをお持ちの方はこちら</a></p>
    </div>
    
</div>