<% provide( :title, "グループチャット" )%>
<h1>グループチャット</h1>
<div id="chats">
  <div id="messages">
    <%= render partial: 'layouts/messages' , model: @chats %>
  </div>
  <%= form_with model: [@group, @message], id: "new-message" do |f| %>
      <%= f.text_field :message, class: 'input-message' %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.submit "コメントする" , class: "submit-message"%>
  <% end %>
    <div class="new"></div>
</div>