<!DOCTYPE html>
<html lang="ja">
  <head>
    <% if yield(:title).empty? %>
    <title>Olmee(オルミー)</title>
    <% else %>
    <title><%= yield(:title) %> | Olmee(オルミー)</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
  </head>

  <body>
    <% if current_page?( login_path )  || current_page?( new_user_path ) %>
      <%= render partial: 'layouts/header2' %>
    <% else %>
       <%= render partial: 'layouts/header' %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="copy-right">
        <p>Copyright(C)2021 Hidetoshi Enoki</p>
      </div>
    </footer>
  </body>
</html>
