<!DOCTYPE html>
<html lang="ja">
  <head>
    <% if yield(:title).empty? %>
      <title>Olmee(オルミー)</title>
    <% else %>
      <title><%= yield(:title) %> | Olmee(オルミー)</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <%= yield :css %>
  </head>

  <body>
    <% if current_page?( login_path )  || current_page?( new_user_path ) %>
      <%= render partial: 'layouts/header2' %>
    <% else %>
       <%= render partial: 'layouts/header' %>
    <% end %>

    <% if !flash.empty? %>
    <div class="flash">
      <% flash.each do |key, value|%>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>
    <% end %>
    <%= yield %>
    <footer>
      <div class="copy-right">
        <p class="not">Copyright(C)2021 Hidetoshi Enoki</p>
      </div>
    </footer>
    <script>
      $(function() {
        setTimeout("$('.flash').fadeOut('slow')", 2000);
      });
    </script>
  </body>
</html>
